* {
  margin: 0;
  padding: 0;
  color: white;
  font-size: large;
  scroll-behavior: smooth;
  /* overflow: hidden; */
  font-family: "Arvo", sans-serif;
}

.navbar {
  background-color:#181a1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  width: 100vw;
  position: fixed;
}

.nav-log h1 {
  font-size: 34px;
}

.navlist {
  display: flex;
  justify-content: center;
  gap: 7rem;
  font-weight: bold;
  height:5rem;
  align-items: center;
}

.navlist li {
  list-style: none;

}

.navlist li a {
  font-size: 24px;
  text-decoration: none;
  position: relative;
  
}

.navlist li a:hover{
  color: rgb(51, 250, 51);
  padding:5px 15px ;
  /* border-radius: 20px; */
  /* border-bottom: 2px solid rgb(20, 243, 20); */
  transition: all 1s ease-in-out;
  animation: back-g 2s ease-in-out;
  }

/*  nav end here */
/* Home here */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('shutterstock_359492192.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.introduction {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  flex-direction: column;
}

.intro1 {
  display: flex;
  gap:10rem;
}

.ilink {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  height: 60px;
  position: relative;
  align-items: center;
  padding: 0px 30px;
  margin: 30px;

}

.fa-brands,
.fab {
  font-weight: 400;
  font-size: 40px;
}

.intro {
 
  color: white;
  font-size: 75px;
  font-weight: 900;
  text-shadow: var(--shadow);
}

.intro b {
  color: white;
  font-size: 75px;
  font-weight: 900;
}
.motive {
  word-spacing: 2.9px;
  font-size: 1.5rem;
  text-align: center;
  width: 752px;
}

.enjoy {
  color: rgb(26, 239, 26);
  font-size: 30px;
  height: 2rem;
}

.website {
  color: rgb(31, 226, 31);
  font-size: 30px;
  height: 2rem;
}


.aboutbutton {
  background-color: rgb(8, 199, 8);
  height: 4rem;
  width: 11rem;
  border-radius: 8px;
}
.aboutbutton:hover{
  background-color:rgb(10, 154, 10);

}

.aboutbutton a {
  text-decoration: none;
}

.aboutbutton a b {
  font-size: 30px;
  color: black;
  text-decoration: none;
}



/* section about here */
#about {
  background-color: black;
  display: flex;

}

.aboutmain {
  height: 100px;
}